<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>

    <br />

    <button><a href="{{url_for('views.login_oidc', provider='google')}}">Login using Google</a></button>
    <button><a href="{{url_for('views.login_oidc', provider='microsoft')}}">Login using Microsoft (works only if
            accessed via
            localhost)</a></button>
    <button><a href="{{url_for('views.login_oidc', provider='orcid')}}">Login using ORCID</a></button>
    <button><a href="{{url_for('views.login_oidc', provider='gitlab')}}">Login using Gitlab</a></button>
</body>

</html>