<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sing Up</title>
</head>

<body>
    <h1>Sing Up</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>

    <br />

    <button><a href="{{url_for('views.signup_oidc', provider='google')}}">Signup using Google</a></button>

    <button><a href="{{url_for('views.signup_oidc', provider='microsoft')}}">Signup using Microsoft (works only if
            accessed via
            localhost)</a></button>

    <button><a href="{{url_for('views.signup_oidc', provider='orcid')}}">Signup using ORCID</a></button>

    <button><a href="{{url_for('views.signup_oidc', provider='gitlab')}}">Signup using Gitlab</a></button>

    <br />

    Already have an account? <a href="{{url_for('views.login')}}">Login</a>
</body>

</html>